.column {
  float: left;
  width: 200px;
  padding: 10px 10px 0 0;
}

body{
  font-family: sans-serif;
}

.mamals p {
  background-color: grey;
}

.bugs p {
  background-color: yellow;
}

.bugs p {
  font-style: italic;
}

.bugs img {
  border: 2px green
}
