.column {
  float: left;
  width: 200px;
  padding: 10px 10px 0 0;
}

body{
  font-family: sans-serif;
}

.mamals p {
  background-color: grey;
}

.bugs p {
  background-color: yellow;
}

.bugs p {
  font-style: italic;
}

h2.lead {
  font-size: 36px;
}

.jumbotron {
  background-image: url("~/img/lion.jpeg");
}
